/* Colors
Dark
#293241
Med
#3d5a80
Light
#98c1d9
Bright
#e0fbfc
Accent
#ee6c4d
*/
.Content {
  min-height: 76vh;
  display: flex;
  margin: 10vh 0;
  padding: 2vh;
  justify-content: center;
  align-content: center;
  background-color: #293241;
  color: #e0fbfc;
}
.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tile {
  height: auto;
  aspect-ratio: 1;
  background-color: #98c1d9;
  color: #293241;
}
.tile-selected {
  background-color: #ee6c4d;
}
.Header, .Footer {
  position: fixed;
  background-color: #3d5a80;
  height: 10vh;
  width: 94vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  padding: 0 3vw;
  z-index: 2;
}
.Header > p, .Footer > p {
  margin: 0;
}
.Header {
  top: 0;
}
.Footer {
  bottom: 0;
}
.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: #e0fbfc;
}
#search-bar {
  width: 100%;
  height: 3rem;
  /* color: #3d5a80; */
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.album {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.album-result-img {
  width: 20vw;
  height: auto;
}
.album-info {
  width: 100%;
}
.title {
  font-weight: 700;
}
.song-add {
  /* display: flex; */
  justify-content: flex-end;
}